<% layout('boilerplate') %>

    <div class="card mx-auto" style="width: 25rem;">
        <img src="https://images.unsplash.com/photo-1725208961246-8eaaf2087a92?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top" alt="...">
        <div class="card-body">
            <form class="needs-validation" method="post" action="/user/login" novalidate>
                <div class="mb-3"></div>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="username" name="username"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p class="text-muted mt-2 mb-0">Don't have an account? <a href="/user/register">register</a></p>
            </form>
        </div>
    </div>